<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title> Photobook </title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link href="assets/css/base.css" rel="stylesheet">
  <link href="assets/css/skins/square/grey.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/slider-pro.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/slick/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href="assets/slick/slick.css" />


  <style>
    body,
    html,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    strong {
      font-family: 'Kanit', sans-serif;
    }

    p {
      font-size: 14px;
    }

    body {

      font-size: 13px;

    }
  </style>

</head>

<body class="bobo" style="">




  <div id="preloader" style="display: none;">
    <div class="sk-spinner sk-spinner-wave">
      <div class="sk-rect1"></div>
      <div class="sk-rect2"></div>
      <div class="sk-rect3"></div>
      <div class="sk-rect4"></div>
      <div class="sk-rect5"></div>
    </div>
  </div>
  <!-- End Preload -->

  <div class="layer"></div>
  <!-- Mobile menu overlay mask -->

  <!-- Header================================================== -->
  <header class="" id="plain" style="background-image: url(assets/images/overlay.png); padding: 0; box-shadow: 0 2px 10px -2px rgba(0,0,0,.1);">
    <div id="top_line" style="background-color: #FAFAE2; padding-top: 10px;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <a href="" style="font-size: 13px;">Add photo</a> <a href="" style="font-size: 13px; border-left: 1px solid rgba(0,0,0,0.1); padding-left:5px;"> My photo</a>
          </div>

          <div class="col-md-4 col-sm-3 col-xs-3">
            <div id="logo">
              <a href="index.html"><img src="assets/image/logo-website.png" height="64" alt="TEENEEJJ" data-retina="true" class="logo_normal"></a>

            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-6">
            <ul id="top_links">

              <li>
								<div class="dropdown dropdown-mini">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link" >shuvit funsok</a>
									<div class="dropdown-menu">
										<ul id="lang_menu">

											<li><a href="#0">Profile</a>
											</li>
											<li><a href="#0">Setting</a>
											</li>
											<li><a href="#0">My Order</a>
											</li>
											<li><a href="#0">Sign out</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- End Dropdown access -->
							</li>

              <li>

                <div class="dropdown dropdown-access">
                  <a href="login.html" class="dropdown-toggle" id="access_link">login</a>

                </div>
                <!-- End Dropdown access -->


              </li>
              <li><a href="" id="wishlist_link">Wishlist</a></li>

            </ul>
          </div>
        </div>
        <!-- End row -->
      </div>
      <!-- End container-->
    </div>
    <!-- End top line-->

    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-3 col-xs-3 visible-sm visible-xs">
          <div id="logo" style="margin-top: 5px; margin-bottom: 5px;">
            <a href="index.html"><img src="assets/image/logo-website.png" height="64" alt="TEENEEJJ" data-retina="true" style="height: 40px;" class="logo_normal"></a>

          </div>
        </div>

        <nav class="col-md-12 col-sm-12 col-xs-12">
          <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
          <div class="main-menu">
            <div id="header_menu">
              <img src="assets/image/logo-website.png" height="54" alt="City tours" data-retina="true">
            </div>
            <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
            <ul>


              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu">PHOTO PRINT <i class="icon-down-open-mini"></i></a>
                <ul>
                  <li><a href="photo_print.html">TRADITIONAL SIZES</a></li>
                  <li><a href="#">SNAP SIZE</a></li>
                  <li><a href="#">POLAROID SIZE</a></li>
                  <li><a href="#">INSTAGRAM SIZE</a></li>
                  <li><a href="#">COLLAGE PRINTS</a></li>

                </ul>
              </li>


              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu">DIGITAL OFFSET PRINTS <i class="icon-down-open-mini"></i></a>
                <ul>
                  <li><a href="product_1.html">2 SIDED PRINT</a></li>
                  <li><a href="#">POSTCARD</a></li>
                  <li><a href="#">NAME CARD</a></li>
                  <li><a href="#">LABEL STICKER</a></li>
                  <li><a href="#">BROCHURE</a></li>
                  <li><a href="#">LEAFLET</a></li>
                </ul>
              </li>

              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu">PHOTOBOOK <i class="icon-down-open-mini"></i></a>
                <ul>
                  <li><a href="#">SQUARE BOOK</a></li>
                  <li><a href="#">PORTRAIT BOOK</a></li>
                  <li><a href="#">LANDSCAPE BOOK</a></li>
                </ul>
              </li>

              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu">CALENDAR <i class="icon-down-open-mini"></i></a>
                <ul>
                  <li><a href="#">PORTRAIT </a></li>
                  <li><a href="#">LANDSCAPE </a></li>
                  <li><a href="#">HANG-UP </a></li>
                </ul>
              </li>

              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu">CARDS <i class="icon-down-open-mini"></i></a>
                <ul>
                  <li><a href="#">WEDDING CARDS</a></li>
                  <li><a href="#">INVITATION CARDS</a></li>
                  <li><a href="#">BIRTHDAY CARDS</a></li>
                  <li><a href="#">ANNIVERSARY CARDS</a></li>
                </ul>
              </li>

              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu">FRAMES <i class="icon-down-open-mini"></i></a>
                <ul>
                  <li><a href="#">CANVAS </a></li>
                  <li><a href="#">BORDERLESS FRAME</a></li>
                  <li><a href="#">MODERN FRAME</a></li>
                  <li><a href="#">GOLDENv FRAME</a></li>
                </ul>
              </li>

              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu">GIFTS <i class="icon-down-open-mini"></i></a>
                <ul>
                  <li><a href="#">T-SHIRT </a></li>
                  <li><a href="#">MUG </a></li>
                  <li><a href="#">JIGSAW </a></li>
                  <li><a href="#">MAGNET </a></li>

                  <li><a href="#">STICKER </a></li>
                  <li><a href="#">PILLOW CASE </a></li>
                  <li><a href="#">SCARF </a></li>
                  <li><a href="#">BAG </a></li>
                </ul>
              </li>

              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu">PROMOTION </a>

              </li>







            </ul>


          </div>
          <!-- End main-menu -->


          <ul id="top_tools" class=" leng-switch">

            <li class="submenu hidden-sm hidden-xs">
              <div style="position: relative; top: -6px;">
                <i class="icon-globe-1"></i> <a href="#0">EN</a> - <a href="#0">TH</a>
              </div>

            </li>
            <li>
              <div class="dropdown dropdown-cart">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-basket-1"></i>Cart (2) </a>
                <ul class="dropdown-menu" id="cart_items">
                  <li>
                    <div class="image"><img src="assets/images/HGifts.jpg" alt="image"></div>
                    <strong>
										<a href="#">Louvre museum</a>1x $36.00 </strong>
                    <a href="#" class="action"><i class="icon-trash"></i></a>
                  </li>
                  <li>
                    <div class="image"><img src="assets/images/HPhotobooks.jpg" alt="image"></div>
                    <strong>
										<a href="#">Versailles tour</a>2x $36.00 </strong>
                    <a href="#" class="action"><i class="icon-trash"></i></a>
                  </li>

                  <li>
                    <div>Total: <span>$120.00</span></div>
                    <a href="cart.html" class="button_drop">Go to cart</a>
                    <a href="shipping.html" class="button_drop outline">Check out</a>
                  </li>
                </ul>
              </div>
              <!-- End dropdown-cart-->
            </li>
          </ul>






        </nav>
      </div>
    </div>
    <!-- container -->
  </header>
  <!-- End Header -->


<style>
.panel-body {
    background: #eee;
}
</style>


  <main class="white_bg" style="margin-top:120px;">




    <div class="container margin_60">

      <div class=" margin_30 text-center">
        <h2 class="major"><span style="background: #fff;">SIGN IN</span></h2>
        <p>
          SIGN IN OR JOIN TO MAKE A BEAUTIFUL PHOTO GIFT.
        </p>
      </div>

      <div class="row">

        <div class="col-md-6 col-sm-6 text-center">
          <div class="panel panel-default login_box">

            <div class="panel-body">



              <div class="form-group">

                <br />

                <div style="margin-bottom: 16px;">
                  <a href="#" class=" ui facebook fluid button"><i class="icon-facebook-1" style=""></i> Sign in with Facebook</a>
                  <a href="#" style="margin-top:12px;" class="ui google plus fluid button"><i class="icon-gmail"></i> Sign in with Google</a>
                </div>


              </div>


              <div>
                <p class="t_mid">OR</p>
              </div>


              <form class="form-horizontal" role="form" method="POST" action="#">
                <input type="hidden" name="_token" value="HEQGT8SJlmYZnorVxD73YtsTgKNcTA4UuCpwwYn1">

                <div class="form-group">
                  <div class="col-md-12 text-left">
                    <label for="exampleInputEmail1">Your E-mail</label>
                    <input  type="email" class="form-control" name="email" placeholder="Your Email" value="">

                  </div>
                </div>

                <div class="form-group">


                  <div class="col-md-12 text-left">
                    <label for="exampleInputPassword1">Password</label>
                    <input  type="password" class="form-control" name="password" placeholder="Password">

                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12 ">



                    <a class="btn btn-link pull-right" href="#">Forgot Password?</a>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12 ">
                    <a type="submit" class="btn btn-submit pull-right">
                          <i class="fa fa-btn "></i> Login
                    </a>
                  </div>
                </div>





              </form>
            </div>
          </div>
        </div>







        <div class="col-md-6 col-sm-6 text-center">
          <div class="panel panel-default login_box">

            <div class="panel-body">


              <h3 >SIGN UP WITH US!</h3>





              <form class="form-horizontal" role="form" method="POST" action="#">
                <input type="hidden" name="_token" value="HEQGT8SJlmYZnorVxD73YtsTgKNcTA4UuCpwwYn1">



                <div class="form-group">

                  <div class="col-md-12">
                    <input  type="email" class="form-control" name="email" placeholder="Email" value="">

                  </div>
                </div>

                <div class="form-group">

                  <div class="col-md-12">
                    <input  type="password" class="form-control" name="password" placeholder="Password">

                  </div>
                </div>

                <div class="form-group">

                  <div class="col-md-12">
                    <input  type="password" class="form-control" name="password-confirm" placeholder="Confirm Password">

                  </div>
                </div>



                <div class="form-group">
                  <div class="col-md-12 ">
                    <a type="submit" class="btn btn-submit btn-block">
                                    <i class="fa fa-btn "></i> Sign up
                                </a>
                  </div>
                </div>
                <hr>

                <div>
                  <p class="t_mid">OR</p>
                </div>



                <div style="margin-bottom: 16px;">
                  <div style="margin-bottom: 16px;">
                    <a href="#" class=" ui facebook fluid button"><i class="icon-facebook-1" style=""></i> Sign in with Facebook</a>
                    <a href="#" style="margin-top:12px;" class="ui google plus fluid button"><i class="icon-gmail"></i> Sign in with Google</a>
                  </div>
                </div>




              </form>
            </div>
          </div>
        </div>


      </div>




    </div>
    <!-- End container -->
  </main>
  <!-- End main -->








  <footer class="revealed">
    <div class="container">

      <div class="row">
        <div class="col-md-12">


          <ul id="top_links" style="float: none; text-align: center;">

            <li><a href="">ABOUT US</a></li>
            <li><a href="">PRODUCT PRICE</a></li>
            <li><a href="">SHOW TO ORDER</a></li>
            <li><a href="">DELIVERY OPTIONS</a></li>
            <li><a href="">PAYMENT OPTIONS</a></li>
            <li><a href="">TERM OF SERVICES</a></li>
            <li><a href="">CONTACT US</a></li>

          </ul>
        </div>
      </div>
      <!-- End row -->



      <div class="row">
        <div class="col-md-12">
          <div id="social_footer">
            <ul>
              <li><img src="assets/image/logo-secured.png" style="height:40px;" /></li>
              <li><img src="assets/image/logo-visa.png" /></li>
              <li><img src="assets/image/logo-master.png" /></li>
              <li><img src="assets/image/logo-JCB.png" /></li>
              <li><img src="assets/image/logo-2c2p.png" /></li>

              <li><img src="assets/image/logo-paypal.png" /></li>
              <li><img src="assets/image/logo-Delivery.png" /></li>
              <li><img src="assets/image/logo-kerry.png" /></li>
              <li><img src="assets/image/logo-ScgExpress.png" /></li>
              <li><img src="assets/image/logo-thaipost.png" /></li>

            </ul>
            <p>© 2018 MasterPhotoNetwork. All rights reserved | Design: MasterPhotoNetwork</p>
            <br /><br />
          </div>
        </div>
      </div>
      <!-- End row -->
    </div>
    <!-- End container -->
  </footer>
  <!-- End footer -->

  <div id="toTop" style="display: none;"></div>
  <!-- Back to top button -->




  <script src="assets/js/jquery-1.11.2.min.js"></script>
  <script src="assets/js/common_scripts_min.js"></script>
  <script src="assets/js/functions.js"></script>
  <script src="assets/js/jquery.magnific-popup.js"></script>
  <!-- Specific scripts -->
  <script src="assets/js/icheck.js"></script>
  <script>
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-grey',
      radioClass: 'iradio_square-grey'
    });
  </script>

  <script src="assets/js/jquery.ddslick.js"></script>
  <script>
    $("select.ddslick").each(function() {
      $(this).ddslick({
        showSelectedHTML: true
      });
    });
  </script>

  <script src="assets/js/jquery.sliderPro.min.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('#my-slider').sliderPro({
        width: '100%',
        height: '500',
        arrows: true,
        visibleSize: '100%',


        autoHeight: true,
      });
    });
  </script>

  <script type="text/javascript" src="assets/slick/slick.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 6,
        autoplay: true,
        autoplaySpeed: 4000,
        slidesToScroll: 6
      });
    });
  </script>


</body>

</html>
